@import 'tailwindcss/base';
@import 'tailwindcss/components';
@import 'tailwindcss/utilities';

:root {
  --primary-color: #008080; /* Change this color to your preferred primary color */
  --text-color: #333; /* Change this color to your preferred text color */
  --link-color: #008080; /* Change this color to your preferred link color */
}

/* ... Your existing CSS rules ... */

.user-info {
  display: flex;
  align-items: center;
}

.user-greeting {
  font-size: 1.25rem;
  color: var(--text-color);
  margin-right: 1rem;
}

.logout-button {
  color: var(--link-color);
  text-decoration: underline;
  cursor: pointer;
  transition: color 0.2s;
}

.logout-button:hover {
  color: #ff0000; /* Change this color to your preferred hover color */
}

.login-button {
  color: var(--link-color);
  text-decoration: underline;
  cursor: pointer;
}

.login-button:hover {
  color: #ff0000; /* Change this color to your preferred hover color */
}


body {
  font-family: Arial, sans-serif;
  background-color: #f7f7f7; /* Change this color to your preferred background color */
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.header {
  background-color: var(--primary-color);
  color: var(--text-color);
  padding: 1rem 0;
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.1);
}

.header h1 {
  font-size: 2rem;
  font-weight: 600;
}

.user-greeting {
  font-size: 1.25rem;
}

.logout-button {
  color: var(--link-color);
  text-decoration: underline;
  cursor: pointer;
  transition: color 0.2s;
}

.logout-button:hover {
  color: #ff0000; /* Change this color to your preferred hover color */
}

.container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 20px;
}

main {
  flex-grow: 1;
  padding: 2rem 0;
}

.footer {
  background-color: var(--primary-color);
  color: var(--text-color);
  padding: 1rem 0;
  margin-top: auto; /* Push the footer to the bottom */
}

.footer p {
  font-size: 0.875rem;
}

